<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="BloggingEntities" connectionString="metadata=res://*/EFEntity.BloggingContext.BlogEntitites.csdl|res://*/EFEntity.BloggingContext.BlogEntitites.ssdl|res://*/EFEntity.BloggingContext.BlogEntitites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ggku2ser6;initial catalog=Blogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <-add name="BloggingPostsEntities" connectionString="metadata=res://*/EFEntity.BloggingContext.BlogPost.csdl|res://*/EFEntity.BloggingContext.BlogPost.ssdl|res://*/EFEntity.BloggingContext.BlogPost.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ggku2ser6;initial catalog=BloggingPosts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 --><add name="BloggingEntities" connectionString="metadata=res://*/EFEntity.BloggingContext.BlogPostEntities.csdl|res://*/EFEntity.BloggingContext.BlogPostEntities.ssdl|res://*/EFEntity.BloggingContext.BlogPostEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ggku2ser6;initial catalog=Blogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BlogEntities" connectionString="metadata=res://*/EFEntity.BlogContext.BlogEntities.csdl|res://*/EFEntity.BlogContext.BlogEntities.ssdl|res://*/EFEntity.BlogContext.BlogEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ggku2ser6;initial catalog=Blogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>